<div class="section" id="contact">
    <div class="cc-contact-information" style="background-color:black;">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-4 mt-md-0 mt-3">
                        <div>
                            <img style="margin-top: -0%;" src="assets/img/nifi.png" height="90" alt="" loading="lazy" />
                        </div><br>
                        <!-- Content -->
                        <h5 class="text-uppercase" class="zz"><b>Nera Soft pvt Ltd.</b></h5>
                    </div>
                </div>
                <!-- Grid column -->
                <div class="row AA">
                    <div class="col-8 mb-md-0 mb-3">
                        <h1><b>COMPANY</b></h1>
                        <h6 routerLink="">HOME</h6>
                        <h6 routerLink="/about">ABOUT</h6>
                        <h6 routerLink="/product">PRODUCTS</h6>
                        <h6 routerLink="/career">CAREERS</h6>
                        <h6 routerLink="/privacy">PRIVACY</h6>
                        <h6 routerLink="/contact">CONTACT</h6>

                    </div>

                </div>
            </div>
            <div class="container ff">
                <img src="https://static.instantpay.in/assets/web/footer/linkedin.svg" alt="">
                <img style="margin-left: 1%;" src="https://static.instantpay.in/assets/web/footer/facebook.svg" alt="">
                <img style="margin-left: 1%;" src="https://static.instantpay.in/assets/web/footer/twitter.svg" alt="">
                <img style="margin-left: 1%;" src="https://static.instantpay.in/assets/web/footer/youtube.svg" alt="">
    
                <h6>Made in India with ❤️</h6>
            </div>
            <h2 style="text-align: center;">Copyright © 2022 Nera Soft Pvt Ltd.</h2>
        </div>

    </div>
</div>