<app-navbar></app-navbar>
<div class="container-fluid">
    <img class="im" src="assets/img/image.jpeg" height="70" alt="" loading="lazy" />
    <div class="text">
        <h1 class="t"><b>Nera Soft</b></h1>
    </div>
    <div class="ss">
        <h1><b>INTRODUCTION</b></h1>
        <img src="assets/img/animation1.gif" alt="">
    </div>
    <div style="text-align: center; padding:5% 15%;">
        <h1><b>We are a Nera Soft based in Noida - India</b></h1>
        <h2>Created in 2023, Nera Soft combines an innovative technological vision with a skilled roster of
            talent. As a leader in audiovisual and digital content. We have cooperated with globe to assemble
            innovative, feasible, and secure digital products to draw an obvious conclusion regarding people, product,
            and openings.</h2>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-3 xx">
                <h1><b>98%</b></h1>
                <h3>COMPLETED & AWARDED PROJECT</h3>
            </div>
            <div class="col-lg-3 xx">
                <h1><b>54,000</b></h1>
                <h3>SATISFIED CUSTOMER PROJECT.</h3>
            </div>
            <div class="col-lg-3 xx">
                <h1><b>248k</b></h1>
                <h3>SOCIAL MEDIA ADVERTISING.</h3>
            </div>
        </div><br><br>
    </div><br><br>
    <div class="row">
        <div class="col-lg-6 text1">
            <h1><b>Wellcome to Nera Soft</b></h1>
            <h2>You can also think of it as an example of the Introduce Explaining Variable refactoring pattern for
                readability purposes, particularly with more complex examples.</h2>
        </div>
        <div class="col-lg-6">
            <img style="width: 100%;" src="assets/img/cup.jpeg" alt="">
        </div>
    </div><br><br>
    <div style="background-color: aquamarine;" class="w">
        <h1><b>HOW CAN WE HELP ?</b></h1>
        <h2>Need more information or want to get in touch?</h2><br><br>
        <button class="btn" mat-raised-button color="primary" routerLink="/contact">Get In Touch</button><br><br>
    </div><br><br><br><br><br>
    <div>
        <h1 style="text-align: center;"><b>CLIENTS</b></h1>
        <div class="row">
            <div class="col-lg-3 xx">
                <h1><b>98%</b></h1>
                <h3>COMPLETED & AWARDED PROJECT</h3>
            </div>
            <div class="col-lg-3 xx">
                <h1><b>14+</b></h1>
                <h3>SATISFIED CUSTOMER PROJECT.</h3>
            </div>
            <div class="col-lg-3 xx">
                <h1><b>1.12k</b></h1>
                <h3>SOCIAL MEDIA ADVERTISING.</h3>
            </div>
        </div><br><br>
    </div>
</div>

<app-footer></app-footer>