<app-navbar></app-navbar>
<div class="container-fluid">
    <img class="im1" src="assets/img/image.jpeg" height="70" alt="" loading="lazy" />
    <div class="text">
        <h1 class="t"><b>CONTACTS</b></h1>
    </div><br><br><br>

    <div class="row">
        <div class="col-lg-6 B">
            <h2><b>Noida(UP)</b></h2>
            <h6>B-11, First floor, Sector-2, Noida, Pin code:-201301, Gautam Budh Nagar (UP)</h6>
            <h6>Nearest metro station noida sec-15.</h6>

        </div>
        <div class="col-lg-6 D">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9136.180787486494!2d77.31929648225409!3d28.579069744913095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1698412329048!5m2!1sen!2sin"
                width="550" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="cc-contact-information" style="padding: 5% 5%;background-color: azure; background-image: url('');">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Contact Me</div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <form name="form" novalidate>
                                            <!-- <form [formGroup]="contactForm" (ngSubmit)="submitForm()"> -->

                                            <div class="p pb-2">
                                                <strong style="margin-left: 70px;">Feel free to contact me </strong>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user-circle"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="name"
                                                            placeholder="Name" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-file-text"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="subject"
                                                            placeholder="Subject" required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="email"
                                                            placeholder="E-mail" required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-phone"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="mobileno"
                                                            placeholder="mobile no" required />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message"
                                                            placeholder="Your Message" required></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary  bt" type="submit">Send
                                                        massege</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card-body">
                                        <p class="mt-2">
                                            <strong>Phone</strong>
                                        </p>
                                        <p class="pb-2">+91 9205623555</p>

                                        <p class="mb-0">
                                            <strong>Email</strong>
                                        </p>

                                        <p>Customercare@nerasoft.in</p>

                                        <p class="mb-0">
                                            <strong>Toll Free</strong>
                                        </p>
                                        <p>+91 18002031255</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>
<app-footer></app-footer>