<app-navbar></app-navbar>
<div class="container-fluid">
    <img class="im" src="assets/img/image.jpeg" height="70" alt="" loading="lazy" />
    <div class="text">
        <h1 class="t"><b>CAREERS</b></h1><br>
        <h1><b>Not just work - your life's best work</b></h1>
    </div><br><br><br><br>
    <div class="kk">
        <h1><b>Career Opportunities</b></h1>
        <mat-card style="background-color: beige;">
            <div class="row">
                <div class="col-6">
                    <h1>Sr. iOS Developer / Android Programmer</h1>
                </div>
                <div class="col-3 l">
                    <h2>2 - 4 yrs</h2>
                    <button class="btn" mat-raised-button color="primary" routerLink="/contact">Apply Now</button>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <h1><b>Job Description:</b></h1>
            <h3>Knowledge of OOP concepts, Core JAVA, REST, SOAP, Web Services, Good analytical, communication &
                problem-solving skills and Exp. in Cross-Platform App (Phone Gap, Titanium, Xamarian) added advantage.
                Desired Candidate Profile Experience in Android SDK / Eclipse & Xcode/Cocoa/Objective C Knowledge in
                multi- th</h3>
            <h3>Knowledge of OOP concepts, Core JAVA, REST, SOAP, Web Services, Good analytical, communication &
                problem-solving skills and Exp. in Cross-Platform App (Phone Gap, Titanium, Xamarian) added advantage.
            </h3><br>
            <h1><b>Desired Candidate Profile</b></h1>
            <ul>
                <li>
                    <h3>Experience in Android SDK / Eclipse & Xcode/Cocoa/Objective C</h3>
                </li>
                <li>
                    <h3>Knowledge in multi- threading, memory management, XML, JSON, Web Services, SQLite</h3>
                </li>
                <li>
                    <h3>Exp. in Core data, GPS Services, MapKit, Address Book, Push notification, audio/video streaming,
                        etc.</h3>
                </li>
                <li>
                    <h3>At least 2/3 Apps released & available in the AppStore.</h3>
                </li>
            </ul>
        </mat-card><br><br>
        <mat-card style="background-color: beige;">
            <div class="row">
                <div class="col-6">
                    <h1>Node Developer</h1>
                </div>
                <div class="col-3 l">
                    <h2>4 - 6 yrs</h2>
                    <button class="btn" mat-raised-button color="primary" routerLink="/contact">Apply Now</button>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <h1><b>Job Description:</b></h1>
            <h3>We are looking for a Node.JS Resource with experience working in fast-paced environment. A talented
                software development professional with a deep technical background and experience building excellent
                user focused products and who will drive forward innovation to deliver cutting edge application
                solutions. Build robust and scalable backend s <br><br>

                We are looking for a Node.JS Resource with experience working in fast-paced environment. A talented
                software development professional with a deep technical background and experience building excellent
                user focused products and who will drive forward innovation to deliver cutting edge application
                solutions. <br><br>

                Build robust and scalable backend software <br>

                Architect and implement system and APIs. <br>

                Help improve our code quality through writing unit tests, automation and code reviews <br>

                Research and solving complex problems to invent new projects.<br>

                Integrate APIs with CRM, ERP system, etc.</h3><br><br>
            <h2><b>Keyskills</b></h2>
            <h3>Node JS, Angular JS, React JS</h3>
            <h1><b>Desired Candidate Profile</b></h1>
            <h3>4+ years as a proven relevant development experience. <br>

                Must be from background of developing fast paced products <br>

                Strong command of JavaScript and JavaScript frameworks <br>

                Extensive experience with microservices <br>

                Experience with AWS products <br>

                Experience architecting complex applications <br>

                Must have experience in building backend using Node.JS <br>

                Hands on experience working with MEAN stack <br>

                Hands-on experience with designing and developing RESTful APIs <br>

                Understanding of SQL/NoSQL database technologies <br>

                Proficient understanding of code versioning tools such as Git. <br>

                Experience/knowledge with CI/CD. <br>

                Exposure to Agile methodologies. <br>

                Familiarity in Micro service architecture. <br>

                Knowledge or experience with AWS services, including but not limited to the following will be an added
                advantage: EC2, Lambda, Dynamodb, SNS, SQS, S3, IAM, etc...</h3>
        </mat-card><br><br>

        <mat-card style="background-color: beige;">
            <div class="row">
                <div class="col-6">
                    <h1>UI Developer</h1>
                </div>
                <div class="col-3 l">
                    <h2>3 - 4 yrs</h2>
                    <button class="btn" mat-raised-button color="primary" routerLink="/contact">Apply Now</button>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <h1><b>Job Description:</b></h1>
            <h3>Talented UI Developer for Web with an agile ability to perform in any professional environment. Web
                designing, Photoshop, Illustrator, Html, Html5, CSS2, CSS3, Less, Bootstrap, Word press, Angular And
                React. <br>

                Talented UI Developer for Web with an agile ability to perform in any professional environment. Web
                designing, Photoshop, Illustrator, Html, Html5, CSS2, CSS3, Less, Bootstrap, Word press, Angular And
                React</h3>
            <h2><b>Keyskills</b></h2>
            <h3>Adobe Photoshop Adobe Dreamweaver Sublime Notepad ++ HTML5/ CSS3 Knowledge Canvas JavaScript</h3>
            <h1><b>Desired Candidate Profile</b></h1>
            <h3>Converting PSD to HTML <br>
                HTML with Bootstrap <br>
                Word press,<br>
                HTML for Angular and React.</h3>
        </mat-card><br><br>
        <mat-card style="background-color: beige;">
            <div class="row">
                <div class="col-6">
                    <h1>PHP Team Lead / Senior PHP Developer</h1>
                </div>
                <div class="col-3 l">
                    <h2>3 - 5 yrs</h2>
                    <button class="btn" mat-raised-button color="primary" routerLink="/contact">Apply Now</button>
                </div>
            </div>
        </mat-card>
        <mat-card>
            <h1><b>Job Description:</b></h1>
            <h3>Flexsin is looking for the Senior PHP programmers / Developers, who are excellent at coding, database
                design, analytical approach and wish to be promoted now as Team Lead. The candidate must have the
                ability to deliver the project alone or with the help of junior programmers. The candidates must have
                good communication skills to communicate with <br>

                Flexsin is looking for the Senior PHP programmers / Developers, who are excellent at coding, database
                design, analytical approach and wish to be promoted now as Team Lead. The candidate must have the
                ability to deliver the project alone or with the help of junior programmers. The candidates must have
                good communication skills to communicate with the clients and in-house cross-department team members.
            </h3>
            <h3>Candidates who believe in themselves, want to do hard work to achieve heights, have can do attitude and
                highly optimistic are most welcome.</h3>
            <ul>
                <li>
                    <h3>Have at least 3 years PHP programming experience on application level projects</h3>
                </li>
                <li>
                    <h3>Programming skills in PHP / CakePHP / Zand / YII / Codeigniter / Laravel along MySQL / Postgre /
                        MongoDB database</h3>
                </li>
                <li>
                    <h3>Have sound knowledge in MVC Frameworks, Database Structure, CMS & eCommerce Development</h3>
                </li>
                <li>
                    <h3>Able to write clean code that follow industry standards and scalable</h3>
                </li>
                <li>
                    <h3>Have delivered some projects individually that includes Project Planning, Execution & On-time
                        Delivery</h3>
                </li>
                <li>
                    <h3>Experience in Agile development process & Complete SDLC</h3>
                </li>
                <li>
                    <h3>Have ability to speak in English with clients regularly over phone / messengers and write emails
                        with regular project updates</h3>
                </li>
            </ul>
            <h2><b>Keyskills</b></h2>
            <h3>Project Leader PHP project leader php developer Zend Framework Symfony zend Client Communication LAMP
                Joomla senior php developer CMS Codeigniter Laravel cakephp PHP Team Lead PHP Project Leader php project
                coordinator</h3>
            <h1><b>Desired Candidate Profile</b></h1>
            <ul>
                <li>
                    <h3>Having excellent communication skills.</h3>
                </li>
                <li>
                    <h3>Must be self-driven and highly organized.</h3>
                </li>
                <li>
                    <h3>Strong ability to effectively lead a team.</h3>
                </li>
                <li>
                    <h3>Design, code, test, debug and document software according to the functional requirements.</h3>
                </li>
                <li>
                    <h3>Develop, maintain and support programs/tools for internal and external clients.</h3>
                </li>
                <li>
                    <h3>Analyze, diagnose and resolve errors related to their applications.</h3>
                </li>
                <li>
                    <h3>Define project planning and execution and on time delivery.</h3>
                </li>
                <li>
                    <h3>Provide technical and project management expertise across multiple areas of application
                        development.</h3>
                </li>
                <li>
                    <h3>Follow all department standards and methodologies.</h3>
                </li>
                <li>
                    <h3>Interaction with cross functional team.</h3>
                </li>
                <li>
                    <h3>Familiarity with Agile project Methodologies.</h3>
                </li>
            </ul>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>