<app-navbar></app-navbar>
<div class="container-fluid">
    <img class="im" src="assets/img/image.jpeg" height="70" alt="" loading="lazy" />
    <div class="text">
        <h1 class="t"><b>PRODUCTS</b></h1><br>
        <h1 class="QQ"><b>Projects we’re proud to show off</b></h1>
    </div>
    <div><br><br><br><br>
        <h1><b>SEO Plans</b></h1>
    </div><br><br>
    <div class="row">
        <div class="row d">
            <div class="col-3">
                
            </div>
            <div class="col-3">
                <h4>Essential</h4>
                <h1><b>INR 899</b></h1>
            </div>
            <div class="col-3" style="background-color: blue; border-radius: 5%; color: white;"><br>
                <h4>Pro</h4>
                <h1><b>INR 4490</b></h1><br>
            </div>
            <div class="col-3">
                <h4>Business</h4>
                <h1><b>INR 9880</b></h1>
            </div>
        </div>
    <div class="card">
        <div class="row">
        <div class="col-3 a">
            <h2><b>keyword Research</b></h2>
            <mat-divider></mat-divider>
            <h2><b>On-page and SERP analysis</b></h2>
            <mat-divider></mat-divider>
            <h2><b>Tools for Agencies</b></h2>
            <mat-divider></mat-divider>
            <h2><b>Сontent Marketing</b></h2>
            <mat-divider></mat-divider>
            <h2><b>Additional Features</b></h2>
            <mat-divider></mat-divider><br><br><br><br><br>
        </div>
        <mat-card class="col-3">
            <h2>200</h2>
            <mat-divider></mat-divider>
            <h2>40</h2>
            <mat-divider></mat-divider>
            <h2>Limited</h2>
            <mat-divider></mat-divider>
            <h2>35 articles</h2>
            <mat-divider></mat-divider>
            <h2>12</h2>
            <mat-divider></mat-divider><br>
            <button  mat-raised-button color="primary" routerLink="/contact">Buy this Plan</button>
        </mat-card>
        <mat-card class="col-3 a1">
            <h2>300</h2>
            <mat-divider></mat-divider>
            <h2>60</h2>
            <mat-divider></mat-divider>
            <h2>Unlimited</h2>
            <mat-divider></mat-divider>
            <h2>60 articles</h2>
            <mat-divider></mat-divider>
            <h2>26</h2>
            <mat-divider></mat-divider><br>
            <button mat-raised-button routerLink="/contact">Buy this Plan</button>
        </mat-card>
        <mat-card class="col-3">
            <h2>350</h2>
            <mat-divider></mat-divider>
            <h2>80</h2>
            <mat-divider></mat-divider>
            <h2>Limited</h2>
            <mat-divider></mat-divider>
            <h2>90 articles</h2>
            <mat-divider></mat-divider>
            <h2>35</h2>
            <mat-divider></mat-divider><br>
            <button mat-raised-button color="primary" routerLink="/contact">Buy this Plan</button>
        </mat-card>
        </div>
    </div>
    </div>
</div><br><br><br>
<app-footer></app-footer>