<app-navbar></app-navbar>
<div class="container-fluid">
    <img class="im" src="assets/img/image.jpeg" height="70" alt="" loading="lazy" />
    <div class="text">
        <h1 class="t"><b>WE CRAFT EXPERIENCES</b></h1>
        <h4>Together we con build your brand <br> and take it to new heights</h4>
    </div>
    <div class="ss">
        <h1>Nera Soft is</h1>
        <h1 style="color: green;"><u>Nera Soft digital agencys,</u></h1>
        <h1>composed of creative designers & experienced developers.</h1>
    </div>
    <div class="row">
        <div class="col-lg-3 xx">
            <img style="width: 40%; height: 40%;" src="assets/img/icon1.png" alt="">
            <h1><b>UI-UX DESIGN</b></h1>
            <h3>Because the jQuery function <br>has a lot of code in it</h3>
        </div>
        <div class="col-lg-3 xx">
            <img style="width: 40%; height: 40%;" src="assets/img/icon2.png" alt="">
            <h1><b>ONLINE STORES</b></h1>
            <h3>Which involves unnecessary <br>overhead if you execute it.</h3>
        </div>
        <div class="col-lg-3 xx">
            <img style="width: 40%; height: 40%;" src="assets/img/icon3.png" alt="">
            <h1><b>DEVELOPMENT</b></h1>
            <h3>More than once with the same <br> inputs expecting the same.</h3>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-lg-6">
            <img style="width: 100%;" src="assets/img/imagel.webp" alt="">
        </div>
        <div class="col-lg-6">
            <img style="width: 100%; height: 100%;" src="assets/img/imagesl1.jpeg" alt="">
        </div>
    </div><br><br>
    <div>
        <div class="row">
            <div class="col-lg-3 xx">
                <h1 style="margin-top: -10%;"><b>What We do</b></h1>
                <h2><b>DESIGN</b></h2>
                <ul>
                    <li>
                        <h2>Digital Strategy</h2>
                    </li>
                    <li>
                        <h2>User Experience Design</h2>
                    </li>
                    <li>
                        <h2>User Interface Design</h2>
                    </li>
                    <li>
                        <h2>iPhone & Android Apps</h2>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 xx">
                <h2><b>DEVELOPMENT</b></h2>
                <ul>
                    <li>
                        <h2>UX strategy</h2>
                    </li>
                    <li>
                        <h2>Concept development</h2>
                    </li>
                    <li>
                        <h2>Content strategy</h2>
                    </li>
                    <li>
                        <h2>Online advertising strategy</h2>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 xx">
                <h2><b>MARKETING</b></h2>
                <ul>
                    <li>
                        <h2>Search Engine Optimisation</h2>
                    </li>
                    <li>
                        <h2>Social Integration</h2>
                    </li>
                    <li>
                        <h2>Website Promotion</h2>
                    </li>
                    <li>
                        <h2>Online Advertising</h2>
                    </li>
                </ul>
            </div>
        </div><br><br>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img style="width: 100%;" src="assets/img/news1.jpg" alt="">
        </div>
        <div class="col-lg-6 text1" style="background-color: black;">
            <h1><b>Results oriented</b></h1>
            <h2>Researching technology frameworks that<br> create new ecosystems for delivering <br> client success
                first
                and enabling <br> enterprises to move ahead of the<br> digital curve.</h2>
        </div>
    </div><br><br>
    <div class="w">
        <h1><b>MISSION</b></h1>
        <h2>Convey versatile digital product and programming answers for open the force of customer driven canny
            innovation that lessens an opportunity to advertise and rethinks cost takeout drives. To convey top quality
            programming advancement administrations with trustworthiness, genuineness, and straightforwardness with
            sensible edges while keeping up with productivity.</h2><br>
        <h1><b>VISION</b></h1>
        <h2>To be the most recognized and trusted software development company based out of India.The power of computers
            for associating customers, partners, and ability to change business results and make a biological system
            that focuses on economic development and culture to flourish in advanced interruption.</h2><br>
        <h1><b>VALUE</b></h1>
        <h2>Make business greatness by remaining resolved to fundamental beliefs of producing endeavor worth and having
            the spirit of innovation, ground breaking, dependability, and respectability with the responsibility to
            drive digital change forward. We have a capability to explore, to experiment, to be different, and to be
            courageous, curious and creative.</h2><br>
    </div><br><br>
    <div style="background-color: aquamarine;" class="w">
      <h1><b>HOW CAN WE HELP ?</b></h1>
      <h2>Need more information or want to get in touch?</h2><br><br>
      <button class="btn" mat-raised-button color="primary" routerLink="/contact">Get In Touch</button><br><br>
    </div><br><br><br><br><br>
    <div>
        <h1 style="text-align: center;"><b>CLIENTS</b></h1>
        <div class="row">
            <div class="col-lg-3 xx">
                <h1><b>98%</b></h1>
                <h3>COMPLETED & AWARDED PROJECT</h3>
            </div>
            <div class="col-lg-3 xx">
                <h1><b>54,000</b></h1>
                <h3>SATISFIED CUSTOMER PROJECT.</h3>
            </div>
            <div class="col-lg-3 xx">
                <h1><b>248k</b></h1>
                <h3>SOCIAL MEDIA ADVERTISING.</h3>
            </div>
        </div><br><br>
    </div>
</div>

<app-footer></app-footer>